**Data Enrichment Project 3**

Author: Pieter Slabber

**Business Problem:**

For this project, you have been hired to produce a MySQL database on Movies from a subset of IMDB's publicly available dataset. Ultimately, you will use this database to analyze what makes a movie successful and will provide recommendations to the stakeholder on how to make a successful movie.

Over the course of this project, you will:

Part 1: Download several files from IMDBâ€™s movie data set and filter out the subset of moves requested by the stakeholder.
Part 2: Use an API to extract box office revenue and profit data to add to your IMDB data and perform exploratory data analysis.
Part 3: Construct and export a MySQL database using your data.
Part 4: Apply hypothesis testing to explore what makes a movie successful.
Part 5 (Optional): Produce a Linear Regression model to predict movie perf

**The Data:**

IMDB Provides Several Files with varied information for Movies, TV Shows, Made for TV Movies, etc.

Overview/Data Dictionary: https://www.imdb.com/interfaces/
Downloads page: https://datasets.imdbws.cs**.tsv.g**z

Part1:

Specifications
Your stakeholder only wants you to include information for movies based on the following specifications:

Exclude any movie with missing values for genre or runtime
Include only full-length movies (titleType = "movie").
Include only fictional movies (not from documentary genre)
Include only movies that were released 2000 - 2021 (include 2000 and 2021)
Include only movies that were released in t.
h**e United St**ates
Deliverable
After filtering out movies that do not meet the stakeholder's specifications:

Before saving, run a final .info() for each of the dataframes to show a summary of how many movies remain and the datatypes of each feature
Save each file to a compressed csv file "Data/" folder inside your repository.
Commit your changes to your repository in GitHub desktop and Publish repository / Push Changes.
Submit the link to your repositoryormance.

In [1]:
# Imports
import pandas as pd
import numpy as np

**Load the title.basics.tsv.gz file**

In [2]:
basics_url="https://datasets.imdbws.com/title.basics.tsv.gz"

In [3]:
basics = pd.read_csv(basics_url, sep='\t', low_memory=False)

In [4]:
basics.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,\N,5,"Animation,Short"
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,\N,4,"Animation,Comedy,Romance"
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,\N,12,"Animation,Short"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,\N,1,"Comedy,Short"

In [5]:
df = basics

In [6]:
df.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,\N,5,"Animation,Short"
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,\N,4,"Animation,Comedy,Romance"
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,\N,12,"Animation,Short"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,\N,1,"Comedy,Short"

**Replace "\N" with np.nan**

In [7]:
# Replace \N with nan
df = df.replace({'\\N':np.nan})
df.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0,1894,NaN,1,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,NaN,5,"Animation,Short"
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,NaN,4,"Animation,Comedy,Romance"
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,NaN,12,"Animation,Short"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,NaN,1,"Comedy,Short"

**Eliminate movies that are null for runtimeMinutes**

In [8]:
df = df.dropna(subset=['runtimeMinutes'])

In [9]:
if df['runtimeMinutes'].isnull().any():
    print("There are null values in the runtimeMinutes column.")
else:
    print("No null values found in the runtimeMinutes column.")

No null values found in the runtimeMinutes column.

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3089981 entries, 0 to 10246264
Data columns (total 9 columns):
 #   Column          Dtype
---  ------          -----
 0   tconst          object
 1   titleType       object
 2   primaryTitle    object
 3   originalTitle   object
 4   isAdult         object
 5   startYear       object
 6   endYear         object
 7   runtimeMinutes  object
 8   genres          object
dtypes: object(9)
memory usage: 235.7+ MB

**Eliminate movies that are null for genre**

In [12]:
df = df.dropna(subset=['genres'])

In [13]:
if df['genres'].isnull().any():
    print("There are null values in the genres column.")
else:
    print("No null values found in the genres column.")

No null values found in the genres column.

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3009239 entries, 0 to 10246264
Data columns (total 9 columns):
 #   Column          Dtype
---  ------          -----
 0   tconst          object
 1   titleType       object
 2   primaryTitle    object
 3   originalTitle   object
 4   isAdult         object
 5   startYear       object
 6   endYear         object
 7   runtimeMinutes  object
 8   genres          object
dtypes: object(9)
memory usage: 229.6+ MB

**Keep only titleType==Movie**

In [21]:
df = df[df['titleType'] == 'movie']
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 0 entries
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   tconst          0 non-null      object
 1   titleType       0 non-null      bool
 2   primaryTitle    0 non-null      object
 3   originalTitle   0 non-null      object
 4   isAdult         0 non-null      object
 5   startYear       0 non-null      bool
 6   endYear         0 non-null      object
 7   runtimeMinutes  0 non-null      object
 8   genres          0 non-null      object
dtypes: bool(2), object(7)
memory usage: 0.0+ bytes

In [15]:
df['titleType'] = df['titleType'] == 'movie'

df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3009239 entries, 0 to 10246264
Data columns (total 9 columns):
 #   Column          Dtype
---  ------          -----
 0   tconst          object
 1   titleType       bool
 2   primaryTitle    object
 3   originalTitle   object
 4   isAdult         object
 5   startYear       object
 6   endYear         object
 7   runtimeMinutes  object
 8   genres          object
dtypes: bool(1), object(8)
memory usage: 209.5+ MB

**Keep startYear 2000-2022**

In [17]:
specific_years = ['2000', '2001', '2002','2003','2004','2005','2006','2007','2008','2009','2010','2011','2012','2013','2014','2015','2016','2017','2018','2019','2020','2021','2022']
df['startYear'] = df['startYear'].isin(specific_years)

print(df_filtered)

#df_filtered = df[df['startYear'].isin(specific_years)]

# Print the filtered DataFrame
#print(df['startYear'])

Empty DataFrame
Columns: [tconst, titleType, primaryTitle, originalTitle, isAdult, startYear, endYear, runtimeMinutes, genres]
Index: []

**Eliminate movies that include "Documentary" in genre**